/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Adds bootstrap */
@import "bootstrap";

/* Ensures all cards are the same height. */
$card-height: 100%;

/* Removes some default styling from jumbotron to make it fit page better. */
.jumbotron {
    margin-bottom: 0;
    padding: 2%;
}

/* Stretches navbar to entire width and adjusts font size .*/
.navbar-nav {
    width: 100%;
    font-size: 1rem;
}

/* Forces agent images to stick to height and width guides. */
.agent-img {
    height: 250px;
    max-width: 300px;
}

/* Wrapper so footer sticks to bottom. */
.content-wrap {
  padding-bottom: 3rem;
}

/* Wrapper so footer sticks to bottom. */
.page-container {
    position: relative;
    min-height: 100vh;
}

/* Changes link styling. */
a {
    text-decoration: none;
    color: #666;
}

/* Removes decoration on link hover. */
a:hover{
    text-decoration: none;
    background: none;
}

/* Forces all other images to stick to height and width guides. */
img {
    max-height: 200px;
    max-width: 100px;
}

/* Fixes footer to bottom of page. */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}